/* BODY */
body {
    background-color: black;
    color: limegreen;
    font-size: large;
    font-family: NDS;
    text-align: center;
    font-size: 30px;
    margin: 100px;
    padding: 5vh 15vw;
    border: 3px solid limegreen;
}

/*body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('retro.gif') repeat;
    opacity: 0.5;
    z-index: -1;
}*/

body.testo h3 {
    padding-bottom: 10px;
    margin-bottom: -15px;
    border-bottom: 1px solid limegreen;
}



/* COLLEGAMENTI */
a {
    color: limegreen;
    text-decoration: none;
}

    a:hover, a:focus-visible {
        animation: spessore 1.5s infinite;
    }

a.non-pronto {
    color: darkgreen;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

    a.non-pronto:hover, a.non-pronto:focus-visible {
        animation: none;
        cursor: not-allowed;
    }

table a:hover, table a:focus-visible {
    padding: 0;
    animation: none;
}

@keyframes spessore {
    0% {
        letter-spacing: normal;
    }

    50% {
        letter-spacing: 1px;
    }

    100% {
        letter-spacing: normal;
    }
}



/* PUNTI ELENCO */
ul {
    list-style-type: square;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}



/* APICE */
sup {
    vertical-align: 0em;
}



/* TABELLE */
table {
    margin: 0 auto;
    border-collapse: collapse;
}

.wrap-tabella {
    overflow-x: auto;
}

td {
    border-top: 1px solid limegreen;
    border-bottom: 1px solid limegreen;
    padding: 3px 10px;
    white-space: nowrap;
}

table.titoli td:nth-child(3) {
    white-space: normal;
    min-width: 200px;
}
table.changelog td:nth-child(3) {
    white-space: normal;
    min-width: 200px;
    text-align: left;
}



/*  CLASSI PERSONALIZZATE */
@font-face {
    font-family: 'NDS';
    src: url('NDS.ttf');
}
@font-face {
    font-family: 'Shroob';
    src: url('shroob.ttf');
}

/* .div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid limegreen;
    padding: 75px;
    /* box-sizing: border-box; */
    /* background-color: black; 
} */

.menu {
    text-transform: uppercase;
}

.spazio {
    margin-top: 50px;
}

.mezzo-spazio {
    margin-top: 25px;
}