/* BODY */
body {
    background-color: black;
    color: limegreen;
    font-size: large;
    font-family: NDS;
    text-align: center;
    font-size: 30px;
    margin: 100px;
    padding: 5vh 15vw;
    border: 3px solid limegreen;
}
/*body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('retro.gif') repeat;
    opacity: 0.5;
    z-index: -1;
}*/

/* COLLEGAMENTI */
a {
    color: limegreen;
    text-decoration: none;
}
a:hover {
    animation: spessore 1.5s infinite;
}
table a:hover {
    padding: 0;
    animation: none;
}
@keyframes spessore {
    0% { letter-spacing: normal; }
    50% { letter-spacing: 1px; }
    100% { letter-spacing: normal; }
}

/* TABELLE */
table {
    margin: 0 auto;
    border-collapse: collapse;
}
.table {
    overflow-x: auto;
}
td {
    border-top: 1px solid limegreen;
    border-bottom: 1px solid limegreen;
    padding: 3px 10px;
}

/*  CLASSI PERSONALIZZATE */
@font-face {
    font-family: 'NDS';
    src: url('NDS.ttf');
}
/* .div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid limegreen;
    padding: 75px;
    /* box-sizing: border-box; */
    /* background-color: black; 
} */
.menu {
    text-transform: uppercase;
}
.spazio {
    margin-top: 50px;
}
.mezzo-spazio {
    margin-top: 25px;
}